@media screen and (max-width: 550px) {
    .to-do {
        width: 95%;
    }
    div > span {
        font-size: 1.5rem;
    }
    li > div {
        text-align: center;
    }
    .li-div {
        padding: 1% 0;
    }
    .status-button, .delete-button {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 551px) and (max-width: 700px) {
    .to-do {
        width: 95%;
    }
    div > span {
        font-size: 1.5rem;
    }
    li > div {
        text-align: center;
    }
    .li-div {
        padding: 1% 0 2% 0;
    }
    .status-button, .delete-button {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 701px) {
    .to-do {
        width: 95%;
    }
    div > span {
        font-size: 1.7rem;
    }
    li > div {
        text-align: center;
    }
    .li-div {
        padding: 1% 0;
    }
    .status-button, .delete-button {
        font-size: 1.3rem;
    }
}

.to-do {
    justify-content: center;
    align-items: center;
}

div > span {
    color: #d0d3c3;
}

.complete {
    text-decoration: line-through;
}

.status-button, .delete-button {
    background-color: #032b2f;
    color: #56b1bf;
    border-color: #032b2f;
    box-shadow: 0 0 1px black;
    border-radius: 3px;
    margin: 1% 1% 1% 1%;
}