header {
    display: flex;
    flex-direction: row;
    background: #d73a31;
    align-items: center;
    box-shadow: 0 0 3px black;
}

.logo {
    width: 20%;
    max-width: 100px;
}

h1 {
    font-size: 2rem;
    flex-grow: 1;
    margin: 1%;
    text-decoration-line: underline;
}